.sea_box, .jellyfish_box, .puffer_box, .squid_box, .tortoise_box,.seahorse_box {
    /* background-image: url('../../assets/images/animal.png'); */
    
    /* background-color: red; */
    
    height: 100vh;
    width: 100vw;
    
    position: relative;
    z-index: 9;

    
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    
}
.sea_box {

    background-image: url('../../assets/images/default.png');
    
}

.jellyfish_box {

    background-image: url('../../assets/images/jellyfish.png');
    
}

.puffer_box {

    background-image: url('../../assets/images/puffer.png');
    
}

.squid_box {

    background-image: url('../../assets/images/squid.png');
    
}

.tortoise_box {

    background-image: url('../../assets/images/tortoise.png');
    
}

.seahorse_box {

    background-image: url('../../assets/images/seahorse.png');
    
}

.sidebar_inside_home {

    height: 100vh;
    width: 6vw;

    margin-right: .2em;

    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: transparent;

    position: relative;
    top: 0%;
}

.sidebar_item_box {

    padding: 0%;
    background-color: rgba(173, 216, 230, 0.651);


    cursor: pointer;

    transition: var(--transition-2);

    height: 5vw;
    width: 5vw;

    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    content: fit;

    margin-bottom: .2em;

    border-radius: var(--border-radius-4);

}

.sidebar_item_box:hover {
    background-color: rgb(143, 187, 202);

    transform: rotate(5deg);

    
    
    transition: var(--transition-2)
}
