body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {

  --color-dark-1: hsl(0, 0%, 0%);
  --color-dark-2: hsl(0, 0%, 8%);
  --color-dark-3: hsl(0, 0%, 20%);
  
  --color-light-1: hsl(0, 0%, 100%);
  --color-light-2: hsl(0, 0%, 80%);
  --color-light-3: hsl(0, 0%, 60%);

  
   --color-vapor-1:hsl(330, 100%, 84%);
   --color-vapor-1-1:hsl(330, 60%, 84%);
   --color-vapor-1-2:hsl(330, 100%, 84%);
   --color-vapor-1-3:#f53d5c;
   --color-vapor-1-4:hsl(330, 20%, 10%);

   
   --color-vapor-2: hsl(180, 100%, 45%);
   --color-vapor-2-1:hsl(180, 60%, 70%);
   --color-vapor-2-2:hsl(180, 90%, 45%);
   --color-vapor-2-3:hsl(180, 100%, 30%);
   --color-vapor-2-4:hsl(180, 20%, 10%);

   
   --color-vapor-3:#ededed;
   --color-vapor-3-1:hsl(0, 0%, 93%);
   --color-vapor-3-2:#e7c6c6;
   --color-vapor-3-3:hsl(0, 40%, 70%);
   --color-vapor-3-4:hsl(0, 20%, 10%);

   
   --color-vapor-4:hsl(60, 60%, 40%);
   --color-vapor-4-1:hsl(60, 60%, 40%);
   --color-vapor-4-2:hsl(60, 60%, 40%);
   --color-vapor-4-3:hsl(60, 61%, 20%);
   --color-vapor-4-4:hsl(60, 20%, 10%);
   
   
   --color-vapor-5:hsl(160, 100%, 70%);
   --color-vapor-5-1:hsl(160, 60%, 84%);
   --color-vapor-5-2:hsl(160, 90%, 70%);
   --color-vapor-5-3:hsl(160, 100%, 45%);
   --color-vapor-5-4:hsl(160, 20%, 15%);

  --border-radius-1: .2em;
  --border-radius-2: .4em;
  --border-radius-3: .6em;
  --border-radius-4: 1em;
  --border-radius-5: 1.4em; 

  
  --transition-0: .2s;
  --transition-1: .4s;
  --transition-2: .6s;
  --transition-3: .8s;
  --transition-4: 1s;
  --transition-5: 1.2s;
  
  --transition-9: 5s 1.5s;
  

};

html {
  overflow: hidden;
  
}  

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;  
  -moz-osx-font-smoothing: grayscale;
  
  overflow: hidden;
}  


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}    

/* animations */


#animationMix {
  animation: slash steps(4) 2s normal
             /* transform2 2s normal; */
}


#animationSlash {
  animation: slash 1s normal;
}  


@keyframes slash {
  from{width: 0%;}
  to{width: 100%}
}  

#animationOpacity {
  animation: opacity 1s normal;
}  


@keyframes opacity {
  from{opacity: 0%;}
  to{opacity: 100%}
}  

#animationTransform {
  animation: transform 1s normal;
}  


@keyframes transform {
  from{transform: skew(30deg);}
  to{transform: skew(0deg)}
}  

#animationTransform2 {
  animation: transform2 2s normal;
}  


@keyframes transform2 {
  from{transform: skew(1800deg);}
  to{transform: skew(0deg)}
}  

/* 
@keyframes fade {
  from{opacity: 0%;}
  to{opacity: 100%;}
} */